.jumbotron {
  border: 2px solid black;
  h1{
    text-align: center;
    font-size: 600%;
  }
  button {
    display: block;
    margin: auto;
    width: 250px;
    height: 60px;
    font-size: 200%;
  }
}

#breakDiv, #lunchDiv {
  border: 2px solid black;
  height: 500px;
}
